body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    background-color: slategray;
}

thead tr{
    background-color:   slategray
}

tbody tr:nth-child(odd){
    background-color:   lightgray
}

button{
    background-color:   lightslategray;
    border-radius: 6px;
}